@import "tailwindcss";
@plugin "daisyui";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul li button {
  font-size: 16px;
  padding: 8px 12px;
}
ul li button:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}

.footer-p div p {
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}